# Database Configuration
MONGO_URI="mongodb://username:password@host:port/database"

# Server Configuration
PORT=4000

# Firebase Configuration
FIREBASE_PROJECT_ID="your-firebase-project-id"
FIREBASE_CREDENTIALS_PATH="./path-to-your-firebase-service-account.json"

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# JWT Configuration
JWT_SECRET="your-jwt-secret-key-here"
